
html,body{
  height: 98%;
  width: 98%;
}
/*--------------------------------------------------------------------------------------------------------*/
.login {
  margin: 20px auto;
  width: 300px;
  padding: 30px 25px;
  background: white;
  border: 1px solid #c4c4c4;
}

.login-input {
  width: 285px;
  height: 50px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-input:focus {
  border-color:#6e8095;
  outline: none;
}
.login-button {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: black;
  text-align: center;
  border: 0;
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
}

.login-lost
{
  text-align:center;
  margin-bottom:0px;
}

.login-lost a
{
  color:#666;
  text-decoration:none;
  font-size:13px;
}

/*---------------------------------------------------------*/

.upload-form{
  margin: 20px auto;
  width: 30%;
  padding: 30px 25px;
  background: white;
  border: 1px solid #c4c4c4;
}
.upload-form-input-left {
  float: left;
  width: 48%;
  height: 30px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.upload-form-input-right {
  float: right;
  width: 48%;
  height: 30px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.upload-form-input-middle{
  width: 100%;
  margin-bottom: 24px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
} 
.upload-form-input-file::-webkit-file-upload-button{
  cursor: pointer;
}

.upload-form-button{
  width: 100%;
  height: 30px;
  padding: 0;
  font-size: 20px;
  color: black;
  text-align: center;
  border: 0;
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
}
/*---------------------------------------------------------*/
.delete-form {
  margin: 20px auto;
  width: 20%;
  padding: 30px 25px;
  background: white;
  border: 1px solid #c4c4c4;
}
.delete-form-input{
  width: 100%;
  margin-bottom: 25px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.delete-form-button{
  width: 100%;
  height: 30px;
  padding: 0;
  font-size: 20px;
  color: black;
  text-align: center;
  border: 0;
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
}

/*--------------------------------------------------------*/
#mySidenav a {
  position: fixed;
  left: -120px;
  transition: 0.3s;
  padding: 15px;
  width: 120px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#user_manager {
  top: 20px;
  background-color: #8a2be2;
}

#upload {
  top: 80px;
  background-color: #4CAF50;
}

#reports {
  top: 140px;
  background-color: #2196F3;
}

#predictions {
  top: 200px;
  background-color: #555;
}

#settings {
  top: 260px;
  background-color:#F2B94A;
}

#logout {
  top: 320px;
  background-color: #f44336;
}
/*------------------------------------------------------------------------------------------------------*/
.mytable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.mytable th{
  text-align: left;
  padding: 8px;
}

.mytable td{
  text-align: center;
  padding: 8px;
}

.mytable thead tr:hover{
  cursor: pointer;
}
.mytable tr:nth-child(even){background-color: #f2f2f2}

.sort-right-corner{
  float:right;
}