<!DOCTYPE html>
<html>
  <head>
    <title>DocumentIt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <form class="login">
      <input type="password" class="login-input" placeholder="Old password">
      <input type="password" class="login-input" placeholder="New password" autofocus>
      <input type="password" class="login-input" placeholder="Confirm password">   
      <input type="submit" value="Change Password" class="login-button"> 
      <p class="login-lost"><a href="login.html">Back to log in?</a></p>
    </form>
  </body>
</html>

