{% extends "template.html" %}
{% block body %}
  <div style="margin-left:80px;">
    <center>
      <h4 style="color:red;">{{error}}</h4>
    </center>
    <center>
      <h4 style="color:green;">{{msg}}</h4>
    </center>
    <form class="login" method="POST">
      <input type="password" class="login-input" placeholder="Old password" name="old_password">
      <input type="password" class="login-input" placeholder="New password" name="new_password">
      <input type="password" class="login-input" placeholder="Confirm password" name="confirm_password">
      <input type="submit" value="Change Password" class="login-button">
    </form>
  </div>
{% endblock %}
