{% extends "template.html" %}
{% block body %}
  <div style="margin-left:40px;height: 100%;">
    <center><h4 style="color:green;">{{msg}}</h4></center>
    <center><h4 style="color:red;">{{error}}</h4></center>
    <center>
      <select style="margin:20px auto;border: 3px solid #c4c4c4;padding: 10px;outline: none;"
        onchange="changeFormType()" id="formType">
        <option value="upload" selected>Upload data</option>
        <option value="delete">Delete data</option>
      </select>
    </center>
    <div id="form">
      <form class="upload-form" method="POST"  enctype = "multipart/form-data">
        <select name="bank" class="upload-form-input-middle" required>
          <option value="default" selected>Select Bank</option>
          <option value="sbh">State Bank of India</option>
        </select>
        <input type="file" accept=".csv,.xls,.xlsx,.ods" class="upload-form-input-middle" name ="files" multiple required>
        <input type="submit" value="Upload" class="upload-form-button" name="form-type">
      </form>
    </div>
    <div>
      <input type="text" id="search_box" onkeyup="search()" placeholder="Search for transaction details">
      <div style="float:right">
        page:
        <select onchange="getMoreTransactions()" id="page_selector">
          {% for i in range(1,page_count+1) %}
            <option>{{i}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div style="overflow-y:auto; height:45%;">
      <table id="transactions" class="mytable" rules='all'>
        <thead>
          <tr>
            <th onclick="sortNumericColumn(0)">Id<span class="sort-right-corner">&#8645;</span> </th>
            <th onclick="sortChronologicalColumn(1)">Transaction Date <span class="sort-right-corner">&#8645;</span> </th>
            <th onclick="sortAlphabeticColumn(2)" colspan="3">Transaction Details <span class="sort-right-corner">&#8645;</span></th>
            <th onclick="sortNumericColumn(3)">Debits <span class="sort-right-corner">&#8645;</span> </th>
            <th onclick="sortNumericColumn(4)">Credits <span class="sort-right-corner">&#8645;</span></th>
            <th onclick="sortNumericColumn(5)">Balance <span class="sort-right-corner">&#8645;</span></th>
          </tr>
        </thead>
        <tbody id="table_body">
          {% for row in transactions %}
            <tr>
              <td>{{row[0]}}</td>
              <td>{{row[1]}}</td>
              <td colspan="3">{{row[2]}}</td>
              {% if row[3]==None %}
                <td>0</td>
              {% else %}
                <td>{{row[3]}}</td>
              {% endif %}

              {% if row[4]==None %}
                <td>0</td>
              {% else %}
                <td>{{row[4]}}</td>
              {% endif %}
              
              <td>{{row[5]}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script>
      function getMoreTransactions() {
          var xmlhttp = new XMLHttpRequest();
          xmlhttp.onreadystatechange = function() {
              if (xmlhttp.readyState == XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
                if (xmlhttp.status == 200) {
                    document.getElementById("table_body").innerHTML = xmlhttp.responseText;
                }
              }
          };
          page_selector = document.getElementById("page_selector")
          xmlhttp.open("GET", "\get_more?page="+page_selector.options[page_selector.selectedIndex].text, true);
          xmlhttp.send();
      }
      function search() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search_box");
        filter = input.value.toUpperCase();
        table = document.getElementById("transactions");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[2];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }       
        }
      }
      function sortChronologicalColumn(n) {
                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("transactions");
        switching = true;
        dir = "asc";
        while (switching) {
          switching = false;
          rows = table.rows;
          for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            if (dir == "asc") {
              if (new Date(x.innerHTML) > new Date(y.innerHTML)) {
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (new Date(x.innerHTML) < new Date(y.innerHTML)) {
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount++;
          } else {
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }        
      }
      function sortAlphabeticColumn(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("transactions");
        switching = true;
        dir = "asc";
        while (switching) {
          switching = false;
          rows = table.rows;
          for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount++;
          } else {
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }

      function sortNumericColumn(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("transactions");
        switching = true;
        dir = "asc";
        while (switching) {
          switching = false;
          rows = table.rows;
          for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            if (dir == "asc") {
              if (parseInt(x.innerHTML,10) > parseInt(y.innerHTML,10)) {
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (parseInt(x.innerHTML,10) < parseInt(y.innerHTML)) {
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount++;
          } else {
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }

      function changeFormType() {
        if (document.getElementById("formType").value == "upload") {
          document.getElementById("form").innerHTML = `
            <form class="upload-form" method="POST"  enctype = "multipart/form-data">
              <select name="bank" class="upload-form-input-middle" required>
                <option value="default" selected>Select Bank</option>
                <option value="sbh">State Bank of India</option>
              </select>
              <input type="file" accept=".csv,.xls,.xlsx,.ods" class="upload-form-input-middle" name="file" multiple required>
              <input type="submit" value="Upload" class="upload-form-button" name="form-type">
            </form>`

        }
        else {
          document.getElementById("form").innerHTML = `
              <form class="delete-form" method="POST">
                <label for="from_date">From:</label>
                <input type="date" name="from_date" class="delete-form-input" required>
                <label for="to_date">To:</label>
                <input type="date" name="to_date" class="delete-form-input" required>
                <input type="submit" value="Delete" class="delete-form-button" name="form-type">
              </form>
              `
        }
      }
    </script>
  </div>
{% endblock %}